<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.kylarme.totoapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.github.kylarme.totoapp.totoapp.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.github.kylarme.totoapp.totoapp.DetailedRssActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <activity
            android:name="com.github.kylarme.totoapp.totoapp.SettingsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.github.kylarme.totoapp.totoapp.UpdateRssItemsService"
            android:enabled="true"
            android:exported="false" />

        <provider
            android:name="com.github.kylarme.totoapp.totoproviders.FeedContentProvider"
            android:authorities="com.github.kylarme.totoapp"
            android:exported="false" />

    </application>

</manifest>
